@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Deployed from Self-Hosted Runner</h1>
    <p>Using Azure CLI Commands</p>
</div>
