@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">welcome to CICD Pipeline demo using GITHUB action </h1>
    <p>Using GitHub Actions</p>
</div>
